/* Custom Styles
-------------------------------------------------- */

/* Buttons
-------------------------------------------------- */
body {
	.site-container {

		/* WordPress Generic Block Buttons */
		.wp-block-button {
			.wp-block-button__link {
				padding: 15px 30px;
			}
		}

		/* WordPress Generic Group buttons */
		.buttons-small {
			.wp-block-button {
				.wp-block-button__link {
					padding: 10px 15px;
				}
			}
		}

		/* Genesis Buttons */
		.wp-block-genesis-blocks-gb-button,
		.gb-block-button {
			a {
				padding: 15px 30px;
			}
		}


	}
}


/* Overflow-X glitch
-------------------------------------------------- */
.full-width-content {
	.site-inner {
		.entry-content {
			>.alignfull {
				max-width: 99vw !important;
			}
		}
	}
}


.wp-block-genesis-blocks-gb-container {
	&.full-width {
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 99vw !important;
	}
}

.site-inner {

	.content {
		@media only screen and (min-width: $width-lg) {
			width: 100%;

			.blog &,
			.single-post & {

				width: 65%;
			}
		}
	}
}


/* Utility
-------------------------------------------------- */
.d-flex {
	display: flex !important;
}

.flex-stretch {
	.gb-block-layout-column-inner {
		align-content: center;
		align-items: stretch;
		display: flex;
		flex-flow: column;
		height: 100%;
		justify-content: space-between;
	}
}

.flex-column {
	.gb-block-layout-column-inner {
		display: flex;
		align-items: stretch;
		align-content: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: nowrap;
		height: 100%;
	}
}


/* MISC
 ------------------------------------- */
.wp-block-media-text {
	&.p-0 {
		.wp-block-media-text__content {
			padding: 0
		}
	}
}





/* Custom Social Icons
 ------------------------------------- */
.simple-social-icons {
	img.social {
		padding: 3px;
	}
}
