/* Custom Styles
-------------------------------------------------- */

/* Buttons
-------------------------------------------------- */
body {
	.site-container {

		/* WordPress Generic Block Buttons */
		.wp-block-button {
			.wp-block-button__link {
				padding: 15px 30px;
			}
		}

		/* WordPress Generic Group buttons */
		.buttons-small {
			.wp-block-button {
				.wp-block-button__link {
					padding: 10px 15px;
				}
			}
		}


	}
}


/* Overflow-X glitch
-------------------------------------------------- */
.full-width-content {
	.site-inner {
		.entry-content {
			>.alignfull {
				// max-width: 99vw !important;
			}
		}
	}
}


.wp-block-genesis-blocks-gb-container {
	&.full-width {
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 99vw !important;
	}
}

.site-inner {

	.content {
		@media only screen and (min-width: $width-lg) {
			width: 100%;

			.blog &,
			.single-post & {

				width: 65%;
			}
		}
	}
}


/* Utility
-------------------------------------------------- */
.d-flex {
	display: flex !important;
}

.flex-stretch {
	.gb-block-layout-column-inner {
		align-content: center;
		align-items: stretch;
		display: flex;
		flex-flow: column;
		height: 100%;
		justify-content: space-between;
	}
}

.flex-center {}

.flex-column {
	.gb-block-layout-column-inner {
		display: flex;
		align-items: stretch;
		align-content: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: nowrap;
		height: 100%;
	}
}


/* MISC
 ------------------------------------- */
.wp-block-media-text {
	&.p-0 {
		.wp-block-media-text__content {
			padding: 0
		}
	}
}





/* Custom Social Icons
 ------------------------------------- */
.simple-social-icons {
	img.social {
		padding: 3px;
	}
}


/* Tiny News Grid
 ------------------------------------- */
.home {
	.featuredpost.home-tiny {

		.gb-block-post-grid .is-grid,
		.gb-block-post-grid .gb-is-grid {
			justify-content: space-between;
		}

		.gb-post-grid-item {
			align-items: center;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;

			@media only screen and (min-width: $width-md) {
				justify-content: space-between;
			}

			.gb-block-post-grid-image {
				margin: 0 ($spacer) 0 0;
				padding: 0;

				a {
					display: block;
					height: 60px;
					width: 60px;

					img {
						height: 60px;
						width: 60px;
					}
				}
			}

			header {
				.gb-block-post-grid-title {
					margin: 0;
					padding: 0;

					h3 {
						margin: 0;
						padding: 0;
					}
				}
			}

			.gb-block-post-grid-byline {
				&:empty {
					display: none;
				}
			}
		}
	}
}


/* Section overlays
 ------------------------------------- */
.torn--top {
	&:before {
		background-image: url(images/header-bg.png);
		background-position: center top;
		background-repeat: repeat-x;
		content: "";
		display: block;
		height: 16px;
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 2;
	}
}

.torn--bottom {
	&:after {
		background-image: url(images/header-bg-bottom.png);
		background-position: center bottom;
		background-repeat: no-repeat;
		bottom: 0;
		content: "";
		display: block;
		height: 16px;
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 2;
	}
}


/* Service CTAs
 ------------------------------------- */
.card--service {
	height: 100%;
	margin-bottom: ($spacer * 4);
	transition: box-shadow 300ms ease 0ms;

	&:hover {
		box-shadow: 0px 4px 12px 0px rgba(253, 218, 1, 0.2);
	}

	.gb-block-layout-column-inner {

		figure {
			margin-bottom: 0;
			// margin-left: calc(-100vw / 2 + 100% / 2);
			// margin-right: calc(-100vw / 2 + 100% / 2);
		}

		h3 {
			margin-top: 0;
			padding: ($spacer * 4) ($spacer * 4) 0 ($spacer * 4);

			@media only screen and (min-width: $width-md) {
				padding: ($spacer * 2) ($spacer * 2) 0 ($spacer * 2);
			}

			a {
				color: inherit;
				text-decoration: none;

				&:focus,
				&:active,
				&:hover {
					color: $primary;
				}
			}
		}

		p {
			padding: 0 ($spacer * 4);

			@media only screen and (min-width: $width-md) {
				padding: 0 ($spacer * 2);
			}

			a {
				color: inherit;
				text-decoration: none;

				&:focus,
				&:active,
				&:hover {
					color: $primary;
				}
			}
		}
	}

}
