/* Sidebar
---------------------------------------------------------------------------- */

.sidebar {

	p {
		margin-bottom: ($spacer * 2);
	}

	.widget {
		margin-bottom: ($spacer * 4);
	}

	.widget-title {
		a {
			text-decoration: none;
		}
	}

}
