/* Sidebar
---------------------------------------------------------------------------- */

.sidebar {

	@media only screen and (min-width: $width-lg) {
		float: right;
		width: 30%;
	}

	p {
		margin-bottom: ($spacer * 2);
	}

	.widget {
		margin-bottom: ($spacer * 4);
	}

	.widget-title {
		a {
			text-decoration: none;
		}
	}

}
