/* Structure and Layout
---------------------------------------------------------------------------- */

/* Site Container
--------------------------------------------- */

.site-container {
	animation: fadein 1s;
}

@keyframes fadein {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

/* Site Inner
--------------------------------------------- */

.site-inner {
	clear: both;
	margin: 0 auto;
	padding: 0;

	@media only screen and (min-width: $width-lg) {
		max-width: 1200px;
	}
}


/* Content with or without Sidebars
--------------------------------------------- */
.content-sidebar-wrap {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	@media only screen and (min-width: $width-lg) {
		flex-flow: row nowrap;
	}

	.content {
		flex-basis: 65%;
		order: 1;

		.full-width-content & {
			flex-basis: 100%;
			width: 100%;
		}

		.sidebar-content & {
			@media only screen and (min-width: $width-lg) {
				order: 2;
			}

		}
	}

	.sidebar {
		order: 2;

		@media only screen and (min-width: $width-lg) {
			flex-basis: 33%;

			.sidebar-content & {
				order: 1;
			}
		}
	}
}

article {
	&.page {
		margin-bottom: 0;
	}
}

/* Sticky Footer
--------------------------------------------- */
.site-container {
	display: flex;
	flex-direction: column;
	min-height: 98vh;
}

.site-inner {
	flex: 1;
	width: 100%;
}
